@use '../../styles/mixins'as *;

.dark-mode-button-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
}

.dark-mode-button {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #363f47 !important;
  cursor: pointer;
  box-shadow: 0px 5px 25px rgb(0 0 0 / 12%);
  backdrop-filter: blur(30px);
  z-index: 3;
}

.dark-mode-icon {
  color: white;
}

.scroll-up-button-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  right: 20px;
}

.scroll-up-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  z-index: 3;
}

.dark-scroll-up-icon {
  color: white;
}

.light-scroll-up-icon {
  color: black;
}

.dark-scroll-up-icon-hidden {
  visibility: hidden;
}
.light-scroll-up-icon-hidden {
  visibility: hidden;
}
